@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@700&display=swap");
body {
  font-size: 62.5%;
  word-spacing: 3px;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}
a {
  border-bottom: none;
  text-decoration: none;
  transition: all 0.3s ease-in;
}
a:hover {
  color: #f5f5f5;
}
:root {
  --prime-clr: #fbffff;
  --sec-clr: #000;
  --ter-clr: #b4151a;
}
.bg-clr-light {
  background: var(--prime-clr);
}
.bg-clr-red {
  background: var(--ter-clr);
}
.bg-clr-dark {
  background: var(--sec-clr);
}
.bg-light-gary {
  background: #d1d1d1;
}
.bg-clr-light-blue {
  background: #ebf1f3;
}
.clr-light {
  color: var(--prime-clr);
}
.clr-red {
  color: var(--ter-clr);
}
.clr-dark {
  color: var(--sec-clr);
}
.container {
  width: 90% !important;
}
.ytp-chrome-top .ytp-show-cards-title {
  display: none !important;
}

/* home styling */
.wallpaper {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/background.jpg");
  object-fit: cover;
  background-size: cover;
  background-attachment: fixed;
  object-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vh;
  z-index: 1 !important;
}
.index-wallpaper {
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("../img/background.jpg");
  object-fit: cover;
  background-size: cover;
  background-attachment: fixed;
  object-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.city-wrapper {
  width: 30%;
}
.city-ip {
  padding: 10px 5px 10px 40px;
  outline: none;
  border: 2px solid var(--sec-clr);
  border-top-left-radius: 10px;
  font-size: 15px;
  border-bottom-left-radius: 10px;
  width: 100%;
}
.map {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  z-index: 1 !important;
}
.search-wrapper {
  width: 60%;
}
.serach,
.area {
  width: 100%;
  display: block;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: var(--prime-clr);
  font-size: 15px;
  border: 2px solid var(--sec-clr);
  outline: none;
}
.area {
  margin-top: 1px;
  display: none;
}
.btn-serach {
  border: 2px solid var(--sec-clr);
  outline: none;
  padding: 5px 25px;
  font-size: 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* catogory styling */
.add-full-section {
  height: 300px;
}
.cat-wrapper {
  overflow-y: scroll;
  max-height: 400px;
}
.cat-wrapper::-webkit-scrollbar {
  width: 5px;
  border-radius: 10em;
  background: #ddcfcf;
}
.cat-wrapper::-webkit-scrollbar-thumb {
  background: var(--ter-clr);
  border-radius: 10em;
}
.cat-card {
  border-color: var(--ter-clr) !important;
  width: 150px;
  height: 80px;
}
.card-icon {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 2px solid var(--ter-clr);
  font-size: 1.5rem;
  background: #ebf1f3;
  padding: 15px;
  color: var(--ter-clr);
}
.in-shadow {
  box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.5);
}
/* card styling */
.video-card-wrapper {
  width: 100%;
  height: 200px;
}
.video-card-wrapper iframe {
  width: 100%;
  height: 100%;
}
.card {
  width: 300px;
  margin: 3em 2em;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.336);
}
.card-heading {
  transition: all 0.3s ease-in;
}
.card-heading:hover {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}
/* details styling */
.nav-link:hover {
  color: var(--ter-clr) !important;
}
.nav-link {
  position: relative;
}
.nav-link::before {
  position: absolute !important;
  width: 0% !important;
  left: 0 !important;
  bottom: 0 !important;
  height: 1px !important;
  background: var(--ter-clr) !important;
  content: "" !important;
  transition: 0.2s;
}
.nav-link:hover::before {
  width: 100% !important;
  left: inherit !important;
  right: 0 !important;
}
.back-to-home {
  transition: all 0.3s ease-in;
}
.back-to-home:hover {
  border-bottom: 1px solid #6c757d !important;
}
.form-icon {
  font-size: 1.1rem;
  position: absolute;
  z-index: 99;
  top: 35%;
  left: 9%;
  color: rgb(124, 124, 124);
  transform: translate(-50%, -50%);
}
.form-control {
  padding-left: 40px;
}
.form-control:focus {
  background: var(--prime-clr);
}
.textarea {
  width: 100%;
  resize: none;
  min-height: 150px !important;
}
.textarea::-webkit-scrollbar {
  width: 5px;
  border-radius: 10em;
  background: #ddcfcf;
}
.textarea::-webkit-scrollbar-thumb {
  background: var(--ter-clr);
  border-radius: 10em;
}
.col-md-12 .form-icon {
  top: 11.5%;
  left: 3%;
}
.btn {
  transition: all 0.3s ease-in;
  font-weight: 500;
}
.btn:hover {
  transform: scale(1.1);
}
.far {
  cursor: pointer;
}
.display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.video-wrapper {
  width: 68%;
  padding-right: 1em;
}
.video-wrapper iframe {
  width: 100%;
  height: 350px;
}
.add-half {
  height: 350px;
  width: 350px;
}
.fs-para {
  font-size: 13px;
  font-weight: 600;
}
.icons i {
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
}
.copy {
  font-size: 1.2rem;
}
.copy i {
  color: rgb(124, 124, 124) !important;
}
.img-div {
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.img-div img {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 90px;
  height: 70px;
}
.footer-items a {
  transition: all 0.3s ease-in;
}
.footer-items a:hover {
  color: #414141;
}
.btn-create-add:hover {
  transform: scale(1.05);
  color: var(--prime-clr);
}
.btn-create-add {
  animation: bounce 0.5s infinite alternate;
  cursor: pointer !important;
}
.take-a-look {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
.letsvideos-web:hover {
  color: var(--sec-clr);
}
iframe {
  width: 100% !important;
}
.col-lg-7 iframe{
  height: 300px;
}
@media (max-width: 991px) {
  .form-icon {
    left: 14%;
  }
  .col-md-12 .form-icon {
    left: 5%;
  }
  .nav-item {
    text-align: center !important;
  }
  .social-wrapper {
    width: 100% !important;
  }
  .footer-items {
    margin-top: 3em;
  }
  .col-lg-7 iframe {
    height: 300px;
  }
}
@media (max-width: 768px) {
  .form-icon {
    left: 15%;
    top: 55% !important;
  }
  .col-md-12 .form-icon {
    left: 7%;
    top: 10% !important;
  }
  .container {
    width: 90% !important;
  }
  .col-md-12 .form-icon {
    left: 7%;
  }
  .display-flex {
    flex-direction: column;
  }
  .video-wrapper {
    width: 90%;
    margin-top: 2em;
    padding: 0%;
  }
  .add-half {
    width: 90%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .no-wrapper a {
    margin-right: 10px !important;
    margin-top: 10px;
  }
  .no-wrapper {
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .ratings-wrapper {
    flex-direction: column !important;
  }
  .ratings-wrapper .video-wrapper {
    width: 100%;
  }
  .discription-wrapper {
    flex-direction: column;
  }
  .discription-wrapper .video-wrapper {
    width: 100%;
  }
  .discription-wrapper .add-half {
    width: 100%;
  }
  .col-md-4 .form-control {
    margin-top: 1em;
  }
  .col-md-6 .form-control {
    margin-top: 1em;
  }
  .row {
    margin: 1em 0 0 0 !important;
  }
  .col-md-4 iframe {
    margin: 1em 0;
  }
  .col-md-5 {
    margin: 1em 0;
  }
  .row {
    margin: 0 !important;
  }
  .Good {
    margin-top: 1em;
  }
}
@media (max-width: 767px) {
  .form-icon {
    left: 7%;
    top: 35%;
  }
  .col-md-12 .form-icon {
    left: 7%;
  }
  .footer-items {
    margin-top: 1em;
  }
  .col-lg-8 {
    justify-content: space-between !important;
    margin-top: 5em;
  }
}
@media (max-width: 500px) {
  .form-icon {
    left: 7%;
    top: 36%;
  }
  .col-md-12 .form-icon {
    left: 7%;
  }
  .col-lg-8 {
    flex-direction: column !important;
  }
  .wallpaper {
    height: 80vh;
  }
  .btn-serach {
    padding: 5px 10px;
  }
  .search-wrapper {
    width: 50%;
  }
  .city-ip {
    padding-left: 35px;
  }
  .cat-card {
    width: 100px;
  }
  .card-icon {
    padding: 1em;
    font-size: 20px;
  }
  .card {
    margin: 3em 0;
  }
  .btn-sort {
    font-size: 10px;
    font-weight: 700;
    margin-right: 5px !important;
  }
  .btn-create-add {
    font-size: 1rem !important;
  }
}
