@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
  width: 100%;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
:root {
  --prime-clr: #f5f5f5;
  --sec-clr: #000;
  --ter-clr: #d22b2b;
  --four-clr: #f5f5f5;
}
/* utility classes */
.clr-light {
  color: var(--prime-clr);
}

.clr-dark {
  color: var(--sec-clr);
}
.clr-red {
  color: var(--ter-clr);
}
.bg-light {
  background: var(--prime-clr);
}
.bg-dark {
  background: var(--sec-clr);
}
.bg-red {
  background: var(--ter-clr);
}
.clr-green {
  color: green;
}
.bg-odd-light {
  background: var(--four-clr);
}
.in-shadow {
  box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0.486);
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
/* navbar styling  */
.header-wrapper {
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.541);
  height: 62px;
}
.logo-wrapper .fas {
  display: none;
}
.nav-wrapper1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 1em auto;
}
.nav-item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  transform: translate(0);
}
.logo-wrapper .fas {
  display: none;
}
.navitem {
  list-style: none;
  margin: 1em 1em;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  transition: all 0.4s ease-in;
}
.navitem:hover {
  color: var(--ter-clr);
}

.navitem::before {
  position: absolute;
  width: 0%;
  left: 0;
  bottom: 0;
  height: 1px;
  background: var(--ter-clr);
  content: "";
  transition: 0.4s;
}
.navitem:hover::before {
  width: 100%;
  left: inherit;
  right: 0;
}

.logo {
  width: 150px;
  height: auto;
  background: #fff;
  padding: 6px 20px;
  border-radius: 5px;
}
.logo img {
  display: block;
  width: 120px;
  height: auto;
}
.active {
  border-bottom: 3px solid #fff;
}
/* end of my style */

/* section body styling */

.body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/background.jpg");
  object-fit: cover;
  background-size: cover;
  background-attachment: fixed;
  object-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vh;
  position: relative;
}
.content-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content-heading {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}
.search-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2em;
  position: relative;
}
.city-ip {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
  padding: 10px;
  background: none;
  width: 150px;
  background: var(--prime-clr);
  color: var(--sec-clr);
  border: 2px solid #000;
  height: 100%;
  padding-left: 35px;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}
.city-ip::-ms-expand {
  display: none;
}

.map {
  position: absolute;
  top: 50%;
  left: 15%;
  font-size: 1.3rem;
  transform: translate(-50%, -50%);
  color: rgb(90, 90, 90);
}
.city-wrpper {
  position: relative;
  width: 150px;
  height: 46.3636px;
}
.search {
  display: block;
  outline: none;
  border: 2px solid #000;
  width: 400px;
  padding: 10px;
  background: none;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  color: var(--prime-clr);
  z-index: 1;
}
.icon {
  display: flex;
  justify-content: center;
  align-content: center;
  background: var(--prime-clr);
  width: 80px;
  padding: 1em;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
.area {
  position: absolute;
  top: 0%;
  padding: 10px;
  display: block;
  width: 400px;
  margin-top: 10px;
  left: 23.7%;
  z-index: -1;
  display: none;
  background: none;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  color: var(--prime-clr);
  border: 1px solid var(--sec-clr);
  transition: all 0.5s ease-in-out;
  outline: none;
}
/* card styling  */

.main-body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 5em 0;
}
.card {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 300px;
  border: 1px solid rgb(90, 90, 90);
  border-radius: 5px;
  padding: 7px;
  margin: 3em 2em;
  box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.3);
}
.sort-btn-wrapper {
  display: flex;
  justify-content: start;
  align-content: center;
  margin-top: 5em;
}
.btn {
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 10em;
  font-size: 1rem;
  margin-right: 30px;
  transition: all 0.4s ease-in;
  text-transform: capitalize;
}
.active-btn {
  background: var(--ter-clr);
  font-weight: 600;
  cursor: pointer;
}
.inactive-btn {
  background: #b3b3b3;
  border: 1px solid var(--ter-clr);
}

.btn:hover {
  transform: scale(1.1);
}
.video-wrapp {
  height: 200px;
  width: 100%;
  margin-bottom: 1em;
}
.video-wrapp iframe {
  height: 200px !important;
  width: 100% !important;
}
.card-cnt-wrapper {
  padding: 1em;
  border-top: 1pt solid rgb(90, 90, 90);
}

.isopen-wrapper {
  font-weight: 700;
  display: flex;
  font-size: 13px;
  justify-content: start;
  align-items: center;
  align-content: center;
}
.fa-circle {
  font-size: 10px;
  margin-right: 10px;
}
.heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.card-heading {
  margin: 10px 0;
}
.fa-copy {
  color: rgb(90, 90, 90);
  margin-left: 10px;
}
.comments-wrapper {
  display: flex;
  justify-content: start;
  align-content: center;
  align-items: center;
  color: var(--sec-clr);
  font-size: 12px;
  margin-top: 5px;
  word-spacing: 0px;
}
.ratings {
  font-size: 12px;
  font-weight: 600;
  background: var(--ter-clr);
  padding: 3px 8px;
  border-radius: 5px;
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
}
.catogory {
  font-size: 12px;
  color: var(--sec-clr);
  margin: 10px 0;
}
.contact-vend {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top: 1.5em;
  color: var(--sec-clr);
}
.icons i {
  background: var(--ter-clr);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  color: var(--sec-clr);
  transition: all 0.2s ease-in;
  margin-right: 10px;
}
.icons i:hover {
  transform: scale(1.1);
}
.btn-call {
  font-size: 13px;
  padding: 10px 15px;
  background: var(--ter-clr);
  font-weight: 600;
  border-radius: 10rem;
  color: var(--sec-clr);
  font-family: "Poppins", sans-serif;
  transition: all 0.2s ease-in;
}
.btn-call:hover {
  transform: scale(1.1);
  color: var(--sec-clr);
}

/* catogary slider styling */
.cat-section {
  padding: 5em 0;
}
.cat-head {
  text-align: center;
  font-size: 1.5rem;
  margin: auto;
  margin-top: 2em;
}
.add-section {
  padding: 1em;
  border: 1px solid rgb(90, 90, 90);
  height: 200px;
}
.cat-wrapper {
  height: 410px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  overflow-y: scroll;
  background: var(--four-clr);
  border-radius: 3px;
  padding: 2em;
  margin: 5em 0;
  border: 1px solid rgb(90, 90, 90);
}
.cat-wrapper::-webkit-scrollbar {
  background: rgb(230, 232, 233);
  border-radius: 10px;
  width: 5px;
}
.cat-wrapper::-webkit-scrollbar-thumb {
  width: 200px;
  border-radius: 10px;
}
.cat-wrapper::-webkit-scrollbar-thumb {
  background: var(--ter-clr);
}
.cat-card {
  padding: 2em;
  border: 2px solid var(--ter-clr);
  margin: 2em 1em;
  border-radius: 5px;
  text-align: center;
  height: 80px;
  width: 200px;
  position: relative;
}
.cat-heading {
  color: var(--sec-clr);
  margin-top: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cat-card a i {
  font-size: 1.5rem;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  padding: 0.6em;
  background: var(--four-clr);
  border: 2px solid var(--ter-clr);
  color: var(--ter-clr);
}

.last-div {
  padding: 5em 0;
}

/* detail card styling */
.details {
  padding-top: 10em;
  padding-bottom: 5em;
}
.back-to-home {
  display: flex;
  justify-content: start;
  align-content: center;
  align-items: center;
  margin: 1em;
  color: rgb(90, 90, 90);
}

.home {
  text-decoration: none;
  font-size: 1rem;
  margin-right: 10px;
  color: rgb(90, 90, 90);
  border-bottom: 1px solid rgb(90, 90, 90);
}
.back-to-home a {
  text-decoration: none;
  font-size: 13px;
  margin-right: 10px;
  color: rgb(90, 90, 90);
}
.dtl-card {
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 10px;
}
.dtl-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(90, 90, 90);
  border-radius: 10px;
  padding: 1em;
}
.dtl-top-wrapp {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  padding: 1em;
}
.add-half-sec {
  width: 40%;
  border: 1px solid rgb(90, 90, 90);
  margin-left: 1em;
  height: 200px;
}
.dtl-video-wrapp {
  width: 60%;
}
.dtl-video-wrapp iframe {
  width: 100%;
  height: 300px;
  margin: auto;
}
.dtl-card-cnt-wrapper {
  width: 100%;
  padding: 1em;
  padding-top: 0;
}
.left {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.address {
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.address h3,
.address p {
  display: inline;
  font-size: 12px;
  margin-right: 5px;
}
.dtl-card-cnt-wrapper .contact-vend {
  margin-bottom: 10px;
}
.dtl-heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 60%;
}
.dicription {
  font-size: 12px;
  word-spacing: 4px;
  letter-spacing: 1px;
}
.disciption-wrapeer {
  width: 60%;
}
.description-heading {
  margin-bottom: 5px;
  font-size: 1.2rem;
}
.cnt-dicription {
  padding: 10px;
  border-top: 1px solid rgb(90, 90, 90);
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

/* review section styling */

.review {
  padding: 3em;
  border: 1px solid rgb(90, 90, 90);
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.308);
}
.rev-wrapper {
  display: flex;
  justify-content: center;
}
.review-left {
  width: 100%;
  height: 450px;
  overflow-y: hidden;
}
.review-left-out {
  width: 60%;
}
.review-right {
  width: 38%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
  height: 100%;
}
.review-right .add-half-sec {
  width: 100%;
  margin: 2em 1em;
}
.reviews-heading {
  font-size: 1rem;
  border-bottom: 2px solid rgb(90, 90, 90);
  margin-bottom: 1em;
}

.see-btn-out {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 20px 0;
}
.see-details-btn {
  background: var(--ter-clr);
  padding: 10px 20px;
  border-radius: 10em;
  border: none;
  font-weight: 600;
  color: var(--sec-clr);
  cursor: pointer;
  transition: 0.2s all ease-in;
}
.see-details-btn:hover {
  transform: scale(1.1);
}
.review-card {
  padding: 1em;
  border-top: 1px solid rgb(90, 90, 90);
  border-bottom: 1px solid rgb(90, 90, 90);
  text-align: center;
  margin: 2em;
}
.name-of-reviewer {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.ratings-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.ratings {
  width: 35px;
  height: 23px;
}
.review-content {
  font-size: 12px;
  word-spacing: 2px;
  margin: 10px 0;
  letter-spacing: 1px;
}
.time {
  font-size: 12px;
}

/* review form styling */

.make-review {
  padding: 2em;
  padding-bottom: 0;
  border: 1px solid rgb(90, 90, 90);
  border-radius: 10px;
}
.make-review-heading {
  font-size: 1.2rem;
  border-bottom: 1px solid rgb(90, 90, 90);
}
.form-wrapper {
  margin: 2em 0;
}
.fa-star {
  font-size: 1.5rem;
  color: var(--ter-clr);
  margin: 20px 5px;
  cursor: pointer;
}
.star-heading h3 {
  font-size: 1.2rem;
  font-weight: 400;
}
.star-heading h3 span {
  font-weight: 700;
}
.star-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}
.up-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}
.form-grp {
  position: relative;
}
.form-icon {
  position: absolute;
  top: 33%;
  left: 10%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: rgb(90, 90, 90);
  z-index: 99;
}
.input-review {
  padding: 10px 5px 10px 50px;
  outline: none;
  border-radius: 5px;
  display: block;
  width: 95%;
  background: var(--prime-clr);
  border: 1px solid rgb(90, 90, 90);
  margin: auto;
}
.validation {
  margin: 5px 0 0 10px;
  color: rgb(90, 90, 90);
  font-weight: 600;
}
.textarea {
  width: 98%;
  min-height: 150px;
  resize: none;
  outline: none;
  border: 1px solid rgb(90, 90, 90);
  padding: 10px;
  background: var(--prime-clr);
  padding-left: 50px;
  border-radius: 5px;
  line-height: 20px;
  font-size: 1rem;
  margin: 1em auto;
}
.text {
  display: flex;
  justify-content: center;
  align-content: center;
}
.text .form-icon {
  top: 21%;
  left: 3%;
}
.textarea::-webkit-scrollbar {
  width: 5px;
  border-radius: 10em;
}
.textarea::-webkit-scrollbar-thumb {
  background: var(--ter-clr);
  border-radius: 10em;
}
.btn-wrap {
  display: flex;
  justify-content: center;
  align-content: center;
}
.btn-submit {
  padding: 10px 20px;
  border: none;
  outline: none;
  background: var(--ter-clr);
  color: var(--sec-clr);
  font-weight: 600;
  border-radius: 10em;
  cursor: pointer;
  transition: 0.4s all ease-in;
}
.btn-submit:hover {
  transform: scale(1.1);
}

/* pricing styling */
.create-vender {
  padding: 2em;
  border: 1px solid rgb(90, 90, 90);
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.37);
}
.cv-heading {
  font-size: 1.5rem;
  font-weight: 400;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
}
.create-vend-from {
  display: block;
  margin: 10px 0;
  padding: 5px 10px;
  border: 1px solid rgb(90, 90, 90);
  outline: none;
  border-radius: 5px;
  background: var(--prime-clr);
}
.name-div {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-content: center;
}
.name-div .form-group {
  width: 80%;
}
.name-div .create-vend-from {
  width: 96%;
}
.address {
  width: 98%;
}
.up-div .form-group .create-vend-from {
  width: 95%;
}
.vend-create-discription {
  width: 98%;
  min-height: 200px;
  resize: none;
  background: var(--prime-clr);
  border: 1px solid rgb(90, 90, 90);
  outline: none;
  padding: 10px;
  border-radius: 5px;
  margin: 10px auto;
}
.time-wrapper {
  display: flex;
  justify-content: start;
  align-content: center;
  align-items: center;
  margin: 20px auto;
}
.form-group label {
  font-size: 15px;
  margin-right: 10px;
}
#open-time,
#close-time {
  display: inline-block;
  padding: 5px;
  border: 1px solid rgb(90, 90, 90);
  outline: none;
  border-radius: 5px;
  margin-right: 50px;
  background: var(--prime-clr);
}

/* pricing card styling */
.pricing-wrapper {
  padding: 2em;
  border-radius: 5px;
  border: 1px solid rgb(90, 90, 90);
  text-align: center;
}
.pricing-heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.pricing-heading::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: var(--ter-clr);
}
.price-tagline {
  font-size: 1rem;
  margin-bottom: 5px;
}
.pricing-wrapper p {
  font-size: 15px;
}
.price-card-wrpper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.price-card {
  width: 48%;
  border: 2px solid rgb(90, 90, 90);
  margin: 10px auto;
  margin-top: 20px;
  padding: 1em;
  border-radius: 5px;
}
.title {
  font-size: 1.2rem;
  color: var(--ter-clr);
  margin-bottom: 5px;
}
.price {
  font-size: 15px;
  margin-bottom: 5px;
  color: var(--sec-clr);
}
.btn-ad {
  display: block;
  width: 90%;
  padding: 7px 10px;
  outline: none;
  border: none;
  background: var(--ter-clr);
  font-weight: 700;
  margin: auto;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in;
}

.btn-ad:hover {
  transform: scale(1.1);
}
/* media query */

@media (max-width: 768px) {
  .nav-wrapper1 {
    align-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
  }
  .container {
    width: 90%;
  }
  .header-wrapper {
    height: 62px;
    transition: all 0.5s ease-in-out;
    width: 100%;
  }
  .nav-item-wrapper {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    align-content: center;
    padding-top: 5em;
    margin-right: -5em;
    transform: translateX(110%);
    background: var(--sec-clr);
    height: 100vh;
    width: 250px;

    transition: all 0.5s ease-in-out;
  }
  .nav-item-wrapper li {
    margin-bottom: 5em;
  }
  .logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    background-color: #000;
    margin-top: 0;
  }
  .logo-wrapper .fas {
    cursor: pointer;
    display: block;
  }
  .dtl-card {
    flex-direction: column;
  }
  .dtl-video-wrapp {
    width: 100%;
    padding: 1em 2em;
  }
  .dtl-card-cnt-wrapper {
    width: 100%;
  }
  .search {
    width: 250px;
  }
  .area {
    width: 250px;
    left: 28%;
  }
  .icon {
    width: 50px;
  }
  .city-wrpper,
  .city-ip {
    width: 120px;
  }
  .cat-card {
    width: 170px;
  }
  .sort-btn-wrapper {
    padding: 0px;
  }
  .input-review {
    width: 100%;
  }
  .textarea {
    width: 100%;
  }
  .up-div {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .form-grp {
    margin: 1em 0;
    width: 100%;
  }
  .form-icon {
    left: 5%;
  }
  .textarea {
    padding-left: 50px;
    margin-top: 0;
  }
  .text .form-icon {
    left: 5%;
  }
  .dtl-top-wrapp {
    flex-direction: column;
    width: 100%;
  }
  .dtl-video-wrapp {
    width: 100%;
    padding: 0;
    margin-bottom: 1em;
  }
  .add-half-sec {
    width: 100%;
    margin: auto;
  }
  .disciption-wrapeer {
    width: 100%;
    margin-bottom: 1em;
  }
  .cnt-dicription {
    flex-direction: column;
  }
  .dtl-heading-wrapper {
    width: 100%;
  }
  .btn {
    font-size: 11px;
  }
  .see-btn {
    display: none;
  }
  .price-card-wrpper {
    flex-direction: column;
  }
  .price-card {
    width: 70%;
  }
  .form-group {
    width: 100%;
  }
  .up-div .form-group .create-vend-from {
    width: 98%;
    margin: 10px 0;
  }
  #open-time,
  #close-time {
    margin: 5px 0;
  }
  .rev-wrapper {
    flex-direction: column;
  }
  .review-left-out {
    width: 100%;
  }
  .review-right {
    width: 100%;
    margin-left: 0;
    margin-top: 2em;
  }
}
@media (max-width: 480px) {
  .content-heading {
    font-size: 1.1rem;
  }
  .review-card {
    padding: 10px;
    margin: 1em;
  }
  .nav-item-wrapper {
    width: 200px;
  }
  .header-wrapper {
    width: 100%;
  }
  .nav-wrapper1 {
    margin: 1em auto;
  }
  .logo {
    width: 120px;
    padding: 6px 10px;
  }
  .logo a img {
    width: 100px;
  }
  .search {
    width: 120px;
  }
  .area {
    width: 120px;
    left: 37%;
  }
  .dtl-top-wrapp {
    padding: 1em 0;
  }
  .dtl-card-cnt-wrapper {
    padding: 0;
  }
  .left .icons .fab {
    padding: 5px;
    font-size: 20px;
    margin-right: 5px;
  }
  .form-icon {
    top: 40%;
    left: 10%;
  }
  .text .form-icon {
    top: 15%;
    left: 10%;
  }
  .city-wrpper,
  .city-ip {
    width: 100px;
  }
  .btn {
    font-size: 10px;
    padding: 10px;
  }
  .map,
  .icon i {
    font-size: 1rem;
  }
  .cat-card {
    width: 100px;
  }
  .card {
    width: 100%;
    margin: 3rem 1rem;
  }
  .name-div {
    flex-direction: column;
  }
  .form-group {
    width: 100% !important;
  }
  .create-vend-from {
    width: 98%;
  }
  .price-card {
    width: 90%;
  }
}
